@@include('./temp/head.html')


<div class="columns">
    <div class="column" data-type="home" data-title="ArtLenk студия"
         data-body="">
        <header class="home-header">
            <div class="home-header-inner">
                <div class="header-panel">
                    <div class="header-panel-sound">
                        <div class="volume-control">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" x="0px" y="0px" viewBox="0 0 77.9 65.7"
                                 style="enable-background:new 0 0 77.9 65.7;" xml:space="preserve">
            <g class="animation-audio">
                <rect data-rect="rect1" y="12.5" class="linecol rect1" width="6" height="41"/>
                <rect data-rect="rect2" x="12" y="11.5" class="linecol rect2" width="6" height="42"/>
                <rect data-rect="rect3" x="24" y="12" class="linecol rect3" width="6" height="42"/>
                <rect data-rect="rect4" x="36" y="11.5" class="linecol rect4" width="6" height="43"/>
                <rect data-rect="rect5" x="48" y="5.5" class="linecol rect5" width="6" height="54"/>
                <rect data-rect="rect6" x="60" y="14.5" class="linecol rect6" width="6" height="37"/>
                <rect data-rect="rect7" x="72" y="17" class="linecol rect7" width="6" height="32"/>
            </g>
        </svg>
                        </div>
                    </div>

                    <div class="support-block">
                        <ul class="social">
                            <li>
                                <a href="https://www.behance.net/azrostudio" rel="nofollow" target="_blank">
                                    <svg class="icon-be">
                                        <use xlink:href="img/icons.svg#be"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/azrostudio/" rel="nofollow" target="_blank">
                                    <svg class="icon-fb">
                                        <use xlink:href="img/icons.svg#fb"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-white hire-us-open"><span>Нанять нас</span></a>
                    </div>
                </div>

                <div class="header-content container">
                    <div class="logo">
                        <img src="img/logo.png" alt="">
                    </div>

                    <div class="header-content-right">
                        <div class="header-content-text">
                            <h1 class="header-title"><span class="header-title__color">Студия</span> ArtLenk</h1>
                            <p>Современный мир - механизм постоянной эволюции. Ваш бизнес должен меняться сейчас ради
                                успеха в будущем, наша задача позаботиться об этом. <br> Время перемен.</p>
                        </div>

                        <ul class="menu">
                            <li><a href="service.html" class="menu-link ajax">Услуги</a></li>
                            <li><a href="about-us.html" class="menu-link ajax">О нас</a></li>
                            <li><a href="portfolio.html" class="menu-link ajax">Кейсы</a></li>
                        </ul>
                    </div>
                </div>

                <div class="video-bg">
                    <video muted loop preload="none" poster="img/bg/bg-video.jpg" class="fullscreen-video" id="movie">
                        <source src="video/azro.studio.mp4" type="video/mp4">
                        <source src="video/azro.studio.webm" type="video/webm">
                        <source src="video/azro.studio.ogv" type="video/ogg">
                    </video>
                </div>

                <span class="header-down"></span>
            </div>
        </header>
        <div class="modal modal-top">
            <div class="modal-close">
                <div class="modal-close-wrap">
                    <svg class="icon-close">
                        <use xlink:href="img/icons.svg#close"></use>
                    </svg>
                </div>
            </div>

            <div class="modal-header">
                <div class="modal-title">Давайте сотрудничать!</div>

                <div class="modal-text">
                    Всего минута и с вами свяжется наш менеджер.
                </div>
            </div>

            <div class="modal-body">
                <form action="#" class="modal-form" id="form-callback-modal">
                    <div class="form-group ui-required">
                        <input type="email" name="email" class="form-control hide-placeholder" placeholder="Ваш E-mail">
                    </div>

                    <div class="form-group ui-required">
                        <input type="text" name="name" class="form-control hide-placeholder" placeholder="Ваше Имя">
                    </div>

                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control hide-placeholder"
                               placeholder="Номер Телефона">
                    </div>

                    <button class="btn btn-white"><span>Отправить</span></button>
                </form>
            </div>
        </div>
        <section class="our-mission">
            <div class="container">
                <h2 class="title-line-bottom">
                    <span>Наша миссия - выходить за рамки воображения, создавая уникальный контент, работать на пределе с каждым проектом для достижения лучшего результата.</span>
                </h2>
                <ul class="our-mission-list list-unstyled">
                    <li>
                        <div class="decor-rhombus-text">Инновации</div>
                        <div class="decor-rhombus active"></div>

                        <ul class="list-line">
                            <li>Веб Дизайн</li>
                            <li>Моб. Приложения</li>
                        </ul>
                    </li>
                    <li>
                        <div class="decor-rhombus-text">Время</div>
                        <div class="decor-rhombus active"></div>

                        <ul class="list-line">
                            <li>Стратегия</li>
                            <li>Маркетинг</li>
                        </ul>
                    </li>
                    <li>
                        <div class="decor-rhombus-text">Восприятие</div>
                        <div class="decor-rhombus active"></div>

                        <ul class="list-line">
                            <li>Логотип</li>
                            <li>Брендинг</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <a href="#" class="next-layer">
                <span class="next-layer-text">Портфолио</span>

                <svg class="arrow">
                    <use xlink:href="img/icons.svg#arrow"></use>
                </svg>
            </a>
        </section>

        <div class="nav-left">
            <div class="nav-left-wrap">
                <ul class="social">
                    <li>
                        <a href="#" rel="nofollow" target="_blank">
                            <svg class="icon-be">
                                <use xlink:href="img/icons.svg#be"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="nofollow" target="_blank">
                            <svg class="icon-fb">
                                <use xlink:href="img/icons.svg#fb"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <button type="button" class="nav-left_toggle" aria-label="toggle menu">
                    <span class="tcon-menu__lines" aria-hidden="true"></span>
                    <span class="tcon-visuallyhidden">Меню</span>
                </button>

                <ul class="portfolio-nav">

                    <a href="about-us.html" rel="next">
                        <li class="portfolio-nav-prev" data-prev="Prev. one">
                            <div>
                                <svg class="arrow">
                                    <use xlink:href="img/icons.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    </a></ul>

                <div class="panel-sound">
                    <div class="volume-control">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             x="0px"
                             y="0px" viewBox="0 0 77.9 65.7" style="enable-background:new 0 0 77.9 65.7;"
                             xml:space="preserve">
            <g class="animation-audio-menu">
                <rect data-rect="rect1" y="12.5" class="linecol rect1" width="6" height="41"/>
                <rect data-rect="rect2" x="12" y="11.5" class="linecol rect2" width="6" height="42"/>
                <rect data-rect="rect3" x="24" y="12" class="linecol rect3" width="6" height="42"/>
                <rect data-rect="rect4" x="36" y="11.5" class="linecol rect4" width="6" height="43"/>
                <rect data-rect="rect5" x="48" y="5.5" class="linecol rect5" width="6" height="54"/>
                <rect data-rect="rect6" x="60" y="14.5" class="linecol rect6" width="6" height="37"/>
                <rect data-rect="rect7" x="72" y="17" class="linecol rect7" width="6" height="32"/>
            </g>
          </svg>
                    </div>
                </div>
            </div>
        </div>

        <nav class="nav-panel">
            <div class="modal modal-left">
                <div class="modal-back">
                    <span class="modal-back-text">Назад</span>
                    <svg class="arrow-back">
                        <use xlink:href="img/icons.svg#arrow-back"></use>
                    </svg>
                </div>

                <div class="modal-header">
                    <div class="modal-title">Давайте сотрудничать!</div>

                    <div class="modal-text">
                        Всего минута и с вами свяжется наш менеджер.
                    </div>
                </div>

                <div class="modal-body">
                    <form action="#" class="modal-form" id="form-callback-menu">
                        <div class="form-group ui-required">
                            <input type="email" name="email" class="form-control hide-placeholder"
                                   placeholder="Ваш E-mail">
                        </div>

                        <div class="form-group ui-required">
                            <input type="text" name="name" class="form-control hide-placeholder" placeholder="Ваше Имя">
                        </div>

                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control hide-placeholder"
                                   placeholder="Номер Телефона">
                        </div>

                        <button class="btn btn-white"><span>Отправить</span></button>
                    </form>
                </div>
            </div>
            <div class="nav-panel-wrap">

                <ul class="nav-panel-menu">
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="about-us.html">О нас</a></li>
                    <li><a href="portfolio.html">Кейсы</a></li>
                    <li><a href="service.html">Услуги</a></li>
                </ul>

                <div class="support-block">
                    <ul class="social">
                        <li>
                            <a href="https://www.behance.net/azrostudio" rel="nofollow" target="_blank">
                                <svg class="icon-be">
                                    <use xlink:href="img/icons.svg#be"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/azrostudio/" rel="nofollow" target="_blank">
                                <svg class="icon-fb">
                                    <use xlink:href="img/icons.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-white hire-us-left-open"><span>Нанять нас</span></a>
                </div>

            </div>

        </nav>
        <section class="position-work" style="position: relative;  width: 100%; height: 1px"></section>

        <section id="our-work" class="our-work project">
            <h2 class="title-block container">
                Портфолио
            </h2>


            <div class="projects-list">
                <ul class="projects-listing list-unstyled">
                    <!-- project-content -->
                    <li>
                        <div class="parallax-count" id="case-parent-1">
                            <div class="container">
                                <div class="project-content">
                                    <div class="project-content-left" id="case-children-one-1"
                                         data-input-element="#case-parent-1"
                                         data-hover-only="true"
                                         data-pointer-events="true">
                                        <h2 class="project-title no-position" data-depth="0.1"><a
                                                href="portfolio/rentpro-car-dealers-website/"
                                               >RentPro - Car dealer’s<br> website</a>
                                        </h2>

                                        <p class="project-text no-position" data-depth="0.15">Дилерская платформа,
                                            задача которой реализовывать автомобили в аренду для бизнеса, перед клиентом
                                            открывается доступ к базе с автомобилями разного класса.</p>

                                        <a href="portfolio/rentpro-car-dealers-website/"
                                           class="btn btn-offset relative ajax" data-depth="0.07">
                                            <span class="btn-offset-text ">Смотреть кейс</span></a>
                                    </div>

                                    <div class="project-content-right project-rentpro">
                                        <div class="project-content-media" id="case-children-two-1"
                                             data-input-element="#case-parent-1" data-hover-only="true">
                                            <div class="project-rectangle-decor" data-depth="0.2"></div>
                                            <picture class="rentpro-car" data-depth="0.3">
                                                <source srcset="uploads/2017/08/car@2x.png"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/car.png" alt="" class="">
                                            </picture>

                                            <picture class="project-content-img" data-depth="0.35">
                                                <source srcset="uploads/2017/08/bg-rentpro@2x.jpg"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/bg-rentpro@2x.jpg" alt="" class="">
                                            </picture>

                                        </div>
                                        <a href="#" class="project-rhombus">
                                            <span class="project-rhombus-decor"></span>
                                            <span class="project-rhombus-text">02</span>
                                            <span class="arrow-long">
                                                <svg class="arrow">
                                                     <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                          xlink:href="img/icons.svg#arrow"></use>
                                                </svg>
                                          </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END project-content -->
                    <!-- project-content -->
                    <li>
                        <div class="parallax-count" id="case-parent-2">
                            <div class="container">
                                <div class="project-content">
                                    <div class="project-content-left" id="case-children-one-2"
                                         data-input-element="#case-parent-2"
                                         data-hover-only="true"
                                         data-pointer-events="true">
                                        <h2 class="project-title no-position" data-depth="0.1"><a
                                                href="portfolio/karma-messenger-for-ios/"
                                               >Karma - Messenger<br> for iOS</a>
                                        </h2>

                                        <p class="project-text no-position" data-depth="0.15">Karma messenger в двух
                                            словах - простой, практичный чат для людей. Его уникальность в встроенной
                                            функции анонимности за счет системы шифрования.</p>

                                        <a href="portfolio/karma-messenger-for-ios/"
                                           class="btn btn-offset relative ajax" data-depth="0.07">
                                            <span class="btn-offset-text ">Смотреть кейс</span></a>
                                    </div>

                                    <div class="project-content-right project-karma">
                                        <div class="project-content-media" id="case-children-two-2"
                                             data-input-element="#case-parent-2" data-hover-only="true">
                                            <div class="project-rectangle-decor" data-depth="0.2"></div>
                                            <picture class="karma-messenger" data-depth="0.3">
                                                <source srcset="uploads/2017/08/karma-messenger@2x.png"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/karma-messenger.png" alt="" class="">
                                            </picture>

                                            <picture class="project-content-img" data-depth="0.35">
                                                <source srcset="uploads/2017/08/karma@2x.png"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/karma@2x.png" alt="" class="">
                                            </picture>

                                        </div>
                                        <a href="#" class="project-rhombus">
                                            <span class="project-rhombus-decor"></span>
                                            <span class="project-rhombus-text">03</span>
                                            <span class="arrow-long">
                                                <svg class="arrow">
                                                     <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                          xlink:href="img/icons.svg#arrow"></use>
                                                </svg>
                                          </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END project-content -->
                    <!-- project-content -->
                    <li>
                        <div class="parallax-count" id="case-parent-3">
                            <div class="container">
                                <div class="project-content">
                                    <div class="project-content-left" id="case-children-one-3"
                                         data-input-element="#case-parent-3"
                                         data-hover-only="true"
                                         data-pointer-events="true">
                                        <h2 class="project-title no-position" data-depth="0.1">
                                            <a href="portfolio/gazmodel-casting-and-mechanical-factory/">GazModel - Casting and<br> Mechanical Factory</a>
                                        </h2>

                                        <p class="project-text no-position" data-depth="0.15">Компания «Тульский
                                            литейно-механический завод «ГАЗМОДЕЛЬ» профилируются на литейном
                                            производстве различных изделий и оборудования, изготавливаемых по уникальным
                                            технологиям.</p>

                                        <a href="portfolio/gazmodel-casting-and-mechanical-factory/"
                                           class="btn btn-offset relative ajax" data-depth="0.07">
                                            <span class="btn-offset-text ">Смотреть кейс</span></a>
                                    </div>

                                    <div class="project-content-right project-gazmodel">
                                        <div class="project-content-media" id="case-children-two-3"
                                             data-input-element="#case-parent-3" data-hover-only="true">
                                            <div class="project-rectangle-decor" data-depth="0.2"></div>
                                            <picture class="gazmodel-bg-logo" data-depth="0.3">
                                                <source srcset="uploads/2017/08/gazmodel-block@2x.png"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/gazmodel-block.png" alt="" class="">
                                            </picture>

                                            <picture class="project-content-img" data-depth="0.35">
                                                <source srcset="uploads/2017/08/IMG@2x.jpg"
                                                        media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                                                <img src="uploads/2017/08/IMG@2x.jpg" alt="" class="">
                                            </picture>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END project-content -->
                </ul>
                <div class="project-all__wrap container">
                    <div class="project-all-wrap">
                        <a href="portfolio.html" class="project-all ajax"><span class="project-all-text">Все Кейсы</span></a>
                    </div>
                </div>


            </div>


        </section>


        <section class="clients">
            <h2 class="title-block container">
                Клиенты
            </h2>

            <div class="container">
                <div class="clients-big">
                    <div class="clients-big__item">
                        <div class="clients-big__inner">
                            <img src="uploads/2018/05/client-01@2x-136x137.png"
                                 srcset="uploads/2018/05/client-01@2x.png 2x" alt="" title="">
                        </div>
                    </div>
                    <div class="clients-big__item">
                        <div class="clients-big__inner">
                            <img src="uploads/2018/05/client-02@2x-142x137.png"
                                 srcset="uploads/2018/05/client-02@2x.png 2x" alt="" title="">
                        </div>
                    </div>
                    <div class="clients-big__item">
                        <div class="clients-big__inner">
                            <img src="uploads/2018/05/bsi-150x91.png" srcset="uploads/2018/05/bsi.png 2x" alt=""
                                 title="">
                        </div>
                    </div>
                    <div class="clients-big__item">
                        <div class="clients-big__inner">
                            <img src="uploads/2018/05/Lviv-104x137.png" srcset="uploads/2018/05/Lviv.png 2x" alt=""
                                 title="">
                        </div>
                    </div>
                </div>

                <div class="clients-small">
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/client-13@2x-181x62.png"
                                 srcset="uploads/2018/05/client-13@2x.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/client-12@2x-209x62.png"
                                 srcset="uploads/2018/05/client-12@2x.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/client-05@2x-192x62.png"
                                 srcset="uploads/2018/05/client-05@2x.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/client-09@2x-271x62.png"
                                 srcset="uploads/2018/05/client-09@2x.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/client-11@2x-266x62.png"
                                 srcset="uploads/2018/05/client-11@2x.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/famecreative-184x62.png"
                                 srcset="uploads/2018/05/famecreative.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/locad-207x62.png" srcset="uploads/2018/05/locad.png 2x" alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/gazmodel-266x62.png" srcset="uploads/2018/05/gazmodel.png 2x"
                                 alt="">
                        </div>
                    </div>
                    <div class="clients-small__item">
                        <div class="clients-small__inner">
                            <img src="uploads/2018/05/LocalAgent-199x62.png" srcset="uploads/2018/05/LocalAgent.png 2x"
                                 alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <footer>
            <div class="container">
                <div class="footer-left">
                    <a href="/" class="footer-logo ajax">
                        <img src="img/logo-footer.png" alt="artlenk.ru" title="artlenk.ru">
                        <div class="footer-logo-text">
                            <div class="footer-logo-text__color">Студия</div>
                            artlenk
                        </div>
                    </a>
                    <p class="copy">© ArtLenk студия. 2016-2019</p>
                </div>

                <div class="footer-center">
                    <div class="footer-title">Давайте сотрудничать!</div>
                    <form action="#" class="footer-form" id="form-callback-footer">
                        <div class="form-group ui-required">
                            <input type="text" name="name" class="form-control hide-placeholder" placeholder="Ваше Имя">
                        </div>

                        <div class="form-group ui-required">
                            <input type="email" name="email" class="form-control hide-placeholder"
                                   placeholder="Ваш E-mail">
                        </div>

                        <div class="form-group">
                            <input type="tel" name="phone" class="form-control hide-placeholder"
                                   placeholder="Номер Телефона">
                        </div>
                        <button class="btn btn-white"><span>Отправить</span></button>
                    </form>
                </div>
                <div class="footer-right">
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.behance.net/azrostudio" rel="nofollow"
                               target="_blank">
                                <svg class="icon-be">
                                    <use xlink:href="img/icons.svg#be"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/azro.studio/" rel="nofollow" target="_blank">
                                <svg class="icon-ig">
                                    <use xlink:href="img/icons.svg#ig"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/azrostudio/" rel="nofollow" target="_blank">
                                <svg class="icon-fb">
                                    <use xlink:href="img/icons.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>
</div>
@@include('./temp/footer.html')